<h1> Update Event </h1>

<form action="/events/<%=@event.id%>" method="post">
<label for="name">Name:</label>
<input type="text" name="name" value="<%=@event.name %>">


<input type='submit' value="Update Event">
</form>


