<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body background="http://www.arch2o.com/wp-content/uploads/2012/08/Arch2O-solar_city_tower_01.jpg">
<a href="/nations">Nations</a>
<a href="/athletes">Athletes</a>
<a href="/rankings">Rankings</a>
<a href="/events">Events</a>
<a href="/medals">Medals</a>
<%= yield %>
</body>
</html>