<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<a href="/nations">Nations</a>
<a href="/athletes">Athletes</a>
<a href="/rankings">Rankings</a>
<a href="/events">Events</a>
<a href="/medals">Medals</a>
<%= yield %>
</body>
</html>