<h1> Update Athlete </h1>

<form action="/athletes/<%=@athlete.id%>" method="post">
<label for="name">Name:</label>
<input type="text" name="name" value="<%=@athlete.name %>">


<input type='submit' value="Update Nation">
</form>